# Core project dependencies
# Add libraries here as your project grows

# Example common packages (uncomment if needed)
numpy<2
pandas
python-dotenv

scikit-learn
xgboost
shap
statsmodels
shap
category-encoders
imbalanced-learn==0.14.0

matplotlib
seaborn